body {
    background-color: rgba(175, 175, 175, 0.701);
}

#grid-container {
    display: grid;
    /* Définit le conteneur comme une grille */
    grid-template-columns: repeat(2, 1fr);
    /* Crée deux colonnes de largeur égale */
    gap: 10px;
    /* Espace entre les éléments de la grille */
}

#svgContainer1 {
    padding: 10px;
}

#svgContainer2 {
    padding: 10px;
}