<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Graph</title>
</head>
<body data-page="graph">
  <button id="logoutButton">Déconnexion</button>
  <button onclick="window.location.href = './dashboard.html'">Page précédente</button>
<div id="grid-container">
  <div id="svgContainer1"></div>
  <div id="svgContainer2"></div>
</div>
  <script type="module" src="../js/graph.js"></script>
  <script type="module" src="../js/bouton.js"></script>
<button onclick="window.location.href = './dashboard.html'"></button>
</body>
</html>
